.main {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.accent {
  color: #e45900;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #212529;
}

a:hover {
  color: #e45900;
}

.font-special {
  font-family: 'Dosis', sans-serif;
}

img.mx-auto {
  display: block;
}

img{
  border-radius: 100px;
}

.contact{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#name{
  text-align: center;
}

footer{
  font-size: small;
  background-color: rgb(241, 223, 189);
  width: 100%;
  right: 0;
  bottom:0;
  left:0;
  text-align: center;
}

.details{
  background-color: grey;
  width: 100%;
  text-align: center;
  height: 60px;
}

div.details a{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* unvisited link */
div.details a:link {
  color: white;
}

/* visited link */
div.details a:visited {
  color: white;
}

/* mouse over link */
div.details a:hover {
  color: orange;
}


.info{
  background-color: rgb(241, 240, 240);
  min-height: 100vh;
  height: 100%;
  padding: 30px;
  padding-top: 5%;
  width: 25%;
}

.welcome{
  color: rgb(223, 149, 12);
  
  text-align: center;
  margin-top: 10px;
}

.news{
  margin-left: 20px;
}

.right_side{
  width: 75%;
}

@media only screen and (max-width: 760px) {
  .info{
    min-height: 50vh;
    width: 100%;
    height: 10%;
  }
  .contact{
    margin: auto;
    width: 50%;
  }
  footer{
    width: 100%;
  }
  .right_side{
    width: 100%;
  }
}

/* the screen size is 1280px wide */