.main {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  
}

.accent {
  color: #e45900;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #212529;
}

a:hover {
  color: #e45900;
}

.font-special {
  font-family: 'Dosis', sans-serif;
}

img.mx-auto {
  display: block;
}

img.pub1_img{
  width: 300px;
  height: 160px;
  border-radius: 50px;
  margin-left: 5px;
}

.contact{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#name{
  text-align: center;
}

footer{
  font-size: small;
  background-color: rgb(241, 223, 189);
  width: 100%;
  right: 0;
  bottom:0;
  left:0;
  text-align: center;
}

.details{
  background-color: grey;
  width: 100%;
  text-align: center;
  margin-left: 250px;
}

div.details a{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* unvisited link */
div.details a:link {
  color: white;
}

/* visited link */
div.details a:visited {
  color: white;
}

/* mouse over link */
div.details a:hover {
  color: orange;
}

.tmln{
  margin-left: 275px;
  margin-top: 10px;
  width: 50%;
}

@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:400,600');

* {
  outline:none;
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
     box-sizing: border-box;
}

.timeline {
  width:100%;
  height: 20px;
  list-style: none;
  text-align: justify;
  margin-left: 70%;
  margin-top: 100px;
  margin-bottom: 100px;
  
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(191,128,11,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(191,128,11,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}

.timeline:after {display: inline-block; content: ""; width: 100%;}

.timeline li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #F2BB13;
  text-align: center;
  line-height: 1.2;
  position: relative;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  
}

.timeline li:before {
  display: inline-block;
  content: attr(data-year);
  font-size: 23px;
  position: absolute;
  left: 50%;
  
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline li:nth-child(odd):before {
  top: -40px;
}
.timeline li:nth-child(even):before {
  bottom: -40px;
}

.timeline li:after {
  display: inline-block;
  content: attr(data-text);
  font-size: 16px;
  position: absolute;
  left: 50%;
  width: 100px;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
  bottom: 0;
  margin-bottom: -10px;
  -webkit-transform: translate(-50%, 100%);
     -moz-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
       -o-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
  top: 0;
  margin-top: -10px;
  -webkit-transform: translate(-50%, -100%);
     -moz-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
       -o-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.info{
  background-color: rgb(241, 240, 240);
  padding: 30px;
  padding-top: 5%;
  position: fixed;
  min-height: 100vh;
}


.righ_side{
  width: 100%;
  
}

.pub1_des {
  text-align-last:justify;
}

.pub1{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  font-size: small;
  background-color: rgb(204, 204, 252);
  border-radius: 50px;
  min-height: 300px;
  height: 480px;
  width: 320px;
}

.boxes{
  margin-left: 260px;
}

.sink-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sink-on-hover:hover, .sink-on-hover:focus, .sink-on-hover:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  background-color: rgb(209, 250, 149);
}


@media only screen and (max-width: 700px) {
  .info{
    width: 100%;
    margin-top: -10%;
    position: relative;
  }
  .contact{
    margin: auto;
    width: 50%;
  }
  footer{
    width: 100%;
  }
  .details{
    padding-bottom: 50px;
    margin-left: 0;
  }
  .boxes{
    margin-left: 20px;
  }
  .tmln{
    margin-left: 20px;
  }
  .timeline{
    width: 400px;
    margin-left: 80%;
  }
}

/* the screen size is 1280px wide */