.main {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  
}

.accent {
  color: #e45900;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #212529;
}

a:hover {
  color: #e45900;
}

.font-special {
  font-family: 'Dosis', sans-serif;
}

img.mx-auto {
  display: block;
}

img.pub1_img{
  width: 300px;
  height: 160px;
  border-radius: 50px;
  margin-left: 5px;
}

.contact{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#name{
  text-align: center;
}

footer{
  font-size: small;
  background-color: rgb(241, 223, 189);
  width: 100%;
  right: 0;
  bottom:0;
  left:0;
  text-align: center;
}

.details{
  background-color: grey;
  width: 100%;
  text-align: center;
}

div.details a{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* unvisited link */
div.details a:link {
  color: white;
}

/* visited link */
div.details a:visited {
  color: white;
}

/* mouse over link */
div.details a:hover {
  color: orange;
}


.info{
  background-color: rgb(241, 240, 240);
  padding: 30px;
  padding-top: 5%;
  
}

.righ_side{
  width: 100%;
  
}

.pub1_des {
  text-align-last:justify;
}

.pub1{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  font-size: small;
  background-color: rgb(204, 204, 252);
  border-radius: 50px;
  min-height: 300px;
  height: 480px;
  
}

.sink-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sink-on-hover:hover, .sink-on-hover:focus, .sink-on-hover:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  background-color: rgb(209, 250, 149);
}



@media only screen and (max-width: 760px) {
  .info{
    width: 100%;
    margin-top: -10%;
  }
  .contact{
    margin: auto;
    width: 50%;
  }
  footer{
    width: 100%;
  }
  .details{
    padding-bottom: 50px;
  }
}

/* the screen size is 1280px wide */