.main {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  
}

.accent {
  color: #e45900;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #212529;
}

a:hover {
  color: #e45900;
}

.font-special {
  font-family: 'Dosis', sans-serif;
}

img.mx-auto {
  display: block;
}

img{
  border-radius: 100px;
}

.contact{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#name{
  text-align: center;
}

footer{
  font-size: small;
  background-color: rgb(241, 223, 189);
  width: 100%;
  right: 0;
  bottom:0;
  left:0;
  text-align: center;
}

.details{
  background-color: grey;
  width: 100%;
  text-align: center;
}

div.details a{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* unvisited link */
div.details a:link {
  color: white;
}

/* visited link */
div.details a:visited {
  color: white;
}

/* mouse over link */
div.details a:hover {
  color: orange;
}


.info{
  background-color: rgb(241, 240, 240);
  padding: 30px;
  padding-top: 5%;
}


.semester{
  height: 38px;
  margin-right: 10px;
}

table th{
  border: 1px solid black;
  text-align: center;

}

.table_th{
  background-color: orange;
}

table tr td{
  border: 1px solid black;
  text-align: center;
}

#no_course_left{
  border-right: none;
}

#no_course_middle{
  border-left: none;
  border-right: none;
}

#no_course_right{
  border-left: none;
}

.education{
  padding: 20px;
  width: 65%;
}

#btnradio1:checked{
  border-color: orange;
}



@media only screen and (max-width: 760px) {
  .info{
    width: 100%;
    height: 10%;
    
  }
  .contact{
    margin: auto;
    width: 50%;
  }
  .education{
    width: 100%;
  }
  table{
    margin: auto;
    width: 100%;
  }
  footer{
    width: 100%;
  }

  .cbe_table{
    margin-left: -125px;
  }
  .cs_table{
    margin-left: -125px;
  }
}

/* the screen size is 1280px wide */